.first-list{
    list-style : none;
    display: flex;
    justify-content: flex-end;
}

p {
    padding-right: 14px ;

}


.search {
    display: flex;
}


.Navbar 
{
    background-color: wheat;
}

@media (max-width: 600px)
{
    .Navbar {
        background-color: lightblue;
    }

    .first-list {
        flex-direction: column;
    }
}

@media (max-width : 800px)
{
    .pictures {
        flex-wrap:  wrap-reverse;
    }
}


img {

    width: 250 px;
    height: 250px;
}

.pictures {
    display: flex;
    justify-content: space-between;
}


